html {
  background-color: #654321;
}

.container {
  display: block;
  justify-content: center;
  text-align: center;
  width: 88rem;
  margin: 0 auto;
  background-color: white;
}

.room {
  display: block;
  position: relative;
  border: 0;
  margin: 0;
  padding: 18px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 19px;
  color: white;
  background-color: #654321;
}

.titleBar {
  margin: 18px;
  margin-bottom: 8px;
  font-family: serif;
  color: royalblue;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: auto;
  padding: 28px 88px;
  border-radius: 50%;
  height: 500px;
  background-color: green;
}

.playerContainer, .opponentContainer {
  display: block;
}

.nameTag {
  margin: 10px 0;
  font-size: 23px;
}

.label {
  font-family: monospace;
  letter-spacing: 0.32px;
  box-sizing: border-box;
  border-bottom: 1px dotted white;
}

.hiddenLabel {
  font-family: monospace;
  letter-spacing: 0.32px;
  border-bottom: 1px solid transparent;
}

.startRound {
  font-family: serif;
  color: royalblue;
  font-size: 15px;
  line-height: 50%;
  font-weight: 900;
}

.BTcontainer {
  margin: 5px 0;
  padding: 0;
  border: 0;
  font-family: serif;
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 0;
}

.betTracker {
  font-family: monospace;
  color: blue;
  text-decoration: underline;
}

.betTrackerHidden {
  font-family: monospace;
  color: green;
}

.betText {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: underline double;
}

.bettingLine {
  margin: 0;
  color: #654321;
  font-family: serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.pot {
  margin-top: 3px;
  color: #654321;
  font-family: serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
}

.currency {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #654321;
  background-color: rgb(0, 118, 0);
  border-radius: 18%;
  width: fit-content;
  min-width: 32px;
  height: 25px;
  margin: 0 1px;
  padding: 1px 5px;
  font-family: monospace;
  color: rgb(32, 188, 32);
  font-size: 17px;
}

.noBet {
  color: grey;
}

.ante {
  display: block;
  position: absolute;
  z-index: 1;
  top: 23px;
  left: -3px;
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
  color: blue;
  line-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: 0;
}

.anteText {
  text-decoration: underline;
  letter-spacing: 0.5px;
}

.winMessage {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 3px 0;
  font-family: monospace;
  font-size: 14.5px;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
}

.cardMessage {
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.highCard {
  font-family: serif;
  font-size: 11px;
  letter-spacing: 0;
}

.potMessage {
  font-family: monospace;
  font-weight: 800;
  color: blue;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.currencyMessage {
  color: rgb(32, 188, 32);
  margin: 0;
  text-decoration: underline double;
  text-decoration-color: blue;
}

.comma {
  letter-spacing: 0;
  margin: 0;
  margin-left: 1px;
  margin-right: 3px;
  font-size: 10px;
}

.cards {
  font-size: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 132%;
}

.black {
  color: black;
  letter-spacing: 0;
  margin: 0;
}

.red {
  color: red;
  letter-spacing: 0;
  margin: 0;
}

.monospace {
  font-family: monospace;
}

.hidden {
  color: green;
}

.lost {
  color: red;
  font-weight: 900;
  letter-spacing: 2px;
}

.board {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dealer {
  margin: 0;
}

.gameOver {
  display: block;
  justify-content: center;
}

.ControlPanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  margin-top: 32px;
  text-align: center;
  gap: 118px;

}

.betLabel {
  font-size: 12px;
}

.betButton {
  margin-left: 8px;
}

button, select {
  outline: none;
}
